@tailwind base;
@tailwind components;
@tailwind utilities;

/* FORCE INTER FONT EVERYWHERE */
body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
